*{
    margin: 0;
    padding: 0;
}
img{
    width: 120px;
}
nav{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px -2px black;
    overflow: hidden;
}
ul{
    display: flex;
}
.elem{
    display: flex;
    margin-left: 34px;
    justify-content: space-between;
}
ul p{
    margin: 30px;
    color: black;
}
.search{
    position: relative;
    left: 34%;
    margin-top: 15px;
}
.search i{
    font-size: 20px;
    font-weight: 200;
}
.search input{
    margin-left: 10px;
    font-size: 15px;
    padding: 12px 2px ;
    width: 100px;
    color: black;
    border: none;
    outline: one;
}
.auth{
    position: relative;
    left: 33%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.btn1{
    color: #078edd;
    outline: #078edd 2px solid;
    border: none;
    width: 60px;
    margin-right: -52px;
    height: 25px;
    font-size: 16px;
    border-radius: 2px;
}
.btn2{
    color: white;
    outline: #078edd 2px solid;
    background-color: #078edd;
    border: none;
    width: 70px;
       margin-left: 78px;
    height: 25px;
    font-size: 16px;
    border-radius: 2px;
}

.hire{
    position: relative;
    left: 33%;
justify-content: center;
margin-top: 20px;
height: 30px;
margin-left: 23px;
font-weight: 500;
    display: flex;
}
.admin{
    position: relative;
    left: 36%;
    margin-top: 18px;
}
.admin button{
    color: white;
    outline: #078edd 2px solid;
    background-color: #078edd;
    border: none;
    width: 70px;
       margin-left: 78px;
    height: 25px;
    font-size: 16px;
    border-radius: 2px;
}
#bt{
  color: white;
  outline: #078edd 2px solid;
  background-color: #078edd;
  border: none;
  width: 70px;
  margin-left: 49rem;
  height: 25px;
  font-size: 16px;
  margin-top: 18px;
  border-radius: 2px;
}
@media screen and (max-width: 768px) {
    .nav1{
     display: none;
    }
   }
 
   #cross{
    position: relative;
    left: 90%;
    font-size: 34px;
}

.login{
    box-shadow: 0px 0px 5px -2px black;
}

.location{
    top: 6rem;
    left: 14%;
    position: absolute;

  }
  #ico3{
    position: absolute;
    top: 38%;
    left: 23rem;
  }
  .Profile{
    top: 0rem;
    left: 61%;
    position: absolute;
  }
  .catogry{
    top: 6rem;
    left: 14%;
    position: absolute;
    z-index: 1;
  }
  .Explore{
    top: 6rem;
    left: 14%;
    position: absolute;
  }
  .catogry2{
    top: 1rem;
    left: 14%;
    position: absolute;
  }
  .location2{
    top: -8rem;
    left: 50%;
  position: relative;

  }
 
  .jobs{
    position: relative;
    top: 0%;
    left: 24rem;
  }
  #more{
    top: 1rem;
    left: 14%;
    position: absolute;
  }

  /*  For Login */
#loginClose{
  left: 92%;
  top: 0%;
  position: absolute;
}
.login{
  width: 35%;
  position: absolute;
  left: 33%;
  z-index: 1;
  background-color: #ffff;
  top: 20%;
  box-shadow:  0px 0px 5px -2px #078edd;
}
#intershipColo{
  margin-top: -16px;
  z-index: 1;
}
#jobsDrop{
left: 22%;
  z-index: -1;
}
.logout{
  position: relative;
  width: 100px;
  left: 575%;
  top: -8px;

}
#picpro{
 
  position: relative;
  left: 666%;
  top: 8px;
}
#ico2{
  top: 31%;
  position: relative;
  left: -7%;
}
#ico{
  top: 31%;
  position: relative;
  left: -7%;
}
.proName{
  position: relative;
  font-weight: bold;
  left: 767%;
  top: -28px 
}

.profile-dropdown{
  position: absolute;
  top: 10%;
  left: 126%;
  background: white;
  height: 250px;
  z-index: 1;
}
.profile-dropdown-2{
  position: absolute;
  top: 11%;
  left: 10%;
  background: white;
  width: 30%;
  height: 60%;
  z-index: 1;;
  display: flex;
  justify-content: space-around;
}
.profile-dropdown-2 p{
  margin-left: 6px;
  margin-top: 4px;
  margin-right: 3px;

}
.profile-dropdown-1 p{
  margin-left: 6px;
  margin-top: 4px;
  margin-right: 3px;

}
.profile-dropdown-1{
  position: absolute;
  top: 10%;
  left: 24%;
  background: white;
width: 30%;
  height: 60%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.line{
  width: 0.5px;

}
